[submodule "pathogen"]
	path = pack/bundle/opt/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	shallow = true
[submodule "goyo"]
	path = pack/bundle/start/goyo
	url = https://github.com/junegunn/goyo.vim.git
	shallow = true
[submodule "limelight"]
	path = pack/bundle/start/limelight
	url = https://github.com/junegunn/limelight.vim.git
	shallow = true
[submodule "tagbar"]
	path = pack/bundle/opt/tagbar
	url = https://github.com/majutsushi/tagbar.git
	shallow = true
[submodule "undotree"]
	path = pack/bundle/opt/undotree
	url = https://github.com/mbbill/undotree.git
	shallow = true
[submodule "surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround.git
	shallow = true
[submodule "easy-align"]
	path = pack/bundle/start/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
	shallow = true
[submodule "swift"]
	path = pack/bundle/start/swift
	url = https://github.com/keith/swift.vim.git
	shallow = true
[submodule "repeat"]
	path = pack/bundle/start/repeat
	url = https://github.com/tpope/vim-repeat.git
	shallow = true
[submodule "pgsql"]
	path = pack/my/start/pgsql
	url = https://github.com/lifepillar/pgsql.vim.git
	shallow = false
[submodule "sneak"]
	path = pack/bundle/start/sneak
	url = https://github.com/justinmk/vim-sneak.git
	shallow = true
[submodule "outlaw"]
	path = pack/my/start/outlaw
	url = https://github.com/lifepillar/vim-outlaw.git
	shallow = false
[submodule "wwdc16"]
	path = pack/my/opt/wwdc16
	url = https://github.com/lifepillar/vim-wwdc16-theme.git
	shallow = false
[submodule "solarized8"]
	path = pack/my/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8
	shallow = false
[submodule "cheat40"]
	path = pack/my/start/cheat40
	url = https://github.com/lifepillar/vim-cheat40.git
	shallow = false
[submodule "ledger"]
	path = pack/bundle/start/ledger
	url = https://github.com/ledger/vim-ledger.git
	shallow = true
[submodule "mucomplete"]
	path = pack/my/start/mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
	shallow = false
[submodule "neomake"]
	path = pack/bundle/opt/neomake
	url = https://github.com/neomake/neomake
	shallow = true
[submodule "clang_complete"]
	path = pack/completion/opt/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
	shallow = true
[submodule "dirvish"]
	path = pack/bundle/start/dirvish
	url = https://github.com/justinmk/vim-dirvish.git
	shallow = true
[submodule "wwdc17"]
	path = pack/my/opt/wwdc17
	url = https://github.com/lifepillar/vim-wwdc17-theme
	shallow = false
[submodule "colortemplate"]
	path = pack/my/start/colortemplate
	url = https://github.com/lifepillar/vim-colortemplate.git
[submodule "gruvbox8"]
	path = pack/my/opt/gruvbox8
	url = https://github.com/lifepillar/gruvbox8.git
[submodule "zeef"]
	path = pack/my/start/zeef
	url = https://github.com/lifepillar/vim-zeef.git
