[submodule "pathogen"]
	path = pack/bundle/opt/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "goyo"]
	path = pack/bundle/start/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "jellybeans"]
	path = pack/themes/opt/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "limelight"]
	path = pack/bundle/start/limelight
	url = https://github.com/junegunn/limelight.vim.git
[submodule "seoul256"]
	path = pack/themes/opt/seoul256
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "solarized"]
	path = pack/themes/opt/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "tagbar"]
	path = pack/bundle/opt/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "tomorrow"]
	path = pack/themes/opt/tomorrow
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "undotree"]
	path = pack/bundle/opt/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "gruvbox"]
	path = pack/themes/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "ctrlp-funky"]
	path = pack/bundle/start/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule "ctrlp"]
	path = pack/bundle/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "easy-align"]
	path = pack/bundle/start/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "papercolor"]
	path = pack/themes/opt/papercolor
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "showmarks"]
	path = pack/bundle/start/showmarks
	url = https://github.com/jacquesbh/vim-showmarks.git
[submodule "commentary"]
	path = pack/bundle/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "swift"]
	path = pack/bundle/start/swift
	url = https://github.com/keith/swift.vim.git
[submodule "rust"]
	path = pack/bundle/start/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "ultisnips"]
	path = pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "snippets"]
	path = pack/bundle/start/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "repeat"]
	path = pack/bundle/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pencil"]
	path = pack/themes/opt/pencil
	url = https://github.com/reedes/vim-colors-pencil.git
[submodule "syntastic"]
	path = pack/bundle/opt/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "pgsql"]
	path = pack/my/start/pgsql
	url = https://github.com/lifepillar/pgsql.vim.git
[submodule "ledger"]
	path = pack/bundle/start/ledger
	url = https://github.com/lifepillar/vim-ledger.git
[submodule "onedark"]
	path = pack/themes/opt/onedark
	url = https://github.com/joshdick/onedark.vim
[submodule "duotones"]
	path = pack/themes/opt/duotones
	url = https://github.com/atelierbram/vim-colors_duotones.git
[submodule "sneak"]
	path = pack/bundle/start/sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "youcompleteme"]
	path = pack/bundle/opt/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "csapprox"]
	path = pack/themes/opt/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "outlaw"]
	path = pack/my/start/outlaw
	url = https://github.com/lifepillar/vim-outlaw.git
[submodule "wwdc16"]
	path = pack/my/opt/wwdc16
	url = https://github.com/lifepillar/vim-wwdc16-theme.git
